#roles_div{
    height: 800px;
}

#roles_divruta{
    display: flex;
    margin-bottom: -15px;
    align-items: center;
    margin: 10px;
    display: flex;
    gap: 7px;
}

#roles_iconos{
    height: 20px;
    width: 20px;
}

#roles_textrutas{
    font-size: 18px;
}

#roles_linkinicio{
    font-size: 18px;
    text-decoration: none;
    color: black;
}

#roles_form{  
    width: fit-content;
    margin: 0 auto;
    margin-top: 100px;
}