#buscar_div{
    height: 800px;
}

#buscar_divruta{
    display: flex;
    margin-bottom: -15px;
    align-items: center;
    margin: 10px;
    display: flex;
    gap: 7px;
}

#buscar_iconos{
    height: 20px;
    width: 20px;
}

#buscar_textrutas{
    font-size: 18px;
}

#buscar_linkinicio{
    font-size: 18px;
    text-decoration: none;
    color: black;
}

#form_buscar{
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 600px;
}

#seleccionar{
    background: white;
    border-radius: 2px;
    border: 1px solid black;
    color: black;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    width: 250px;
    border-color: gray;
}

#busc{
    width: fit-content;
    margin: 0 auto; 
    margin-top: 40px;
    margin-bottom: 40px;
}

#tablains{
    width: fit-content;
    margin: 0 auto; 
}