/*-Navengacion subtitulos-*/

#datos_div{
    height: 800px;
}

#datos_divruta{
    display: flex;
    margin-bottom: -15px;
    align-items: center;
    margin: 10px;
    display: flex;
    gap: 7px;
}

#datos_iconos{
    height: 20px;
    width: 20px;
}

#datos_textrutas{
    font-size: 18px;
}

#datos_linkinicio{
    font-size: 18px;
    text-decoration: none;
    color: black;
}
/*-Conteido de pagina-*/

#datos_formulario{
    width: fit-content;
    margin: 0 auto;
    width: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 70px;
}

#datos_boton{
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
}