#inse_div{
  width: fit-content;
  margin: 0 auto;  
  display: grid;
  grid-template-columns: 50% 50%;
  width: 600px;
  margin-top: 100px;
  grid-template-columns: 50% 50%;
  justify-self: center;
  align-self: center; 
  align-items: center;
  align-content: center;
  margin-top: 150px;
}
  
#inse_div_elegir{
  justify-self: center;
  align-self: center; 
}

#inse_link{
  width: fit-content;
  margin: 0 auto;
  color: black;
  text-decoration-line: none;
}