#beneficio_div{
  height: 700px;
}

#beneficio_divruta{
  display: flex;
  margin-bottom: -15px;
  align-items: center;
  margin: 10px;
  display: flex;
  gap: 7px;
}

#beneficio_iconos{
  height: 20px;
  width: 20px;
}

#beneficio_textrutas{
  font-size: 18px;
}

#beneficio_linkinicio{
  font-size: 18px;
  text-decoration: none;
  color: black;
}

#te4{
  font-size: 17px;
  margin-top: 30px;
  font-weight: bold;
}
  
#botones{
  color: white;
  background: red;
}

#divbotones{
  width: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 425px;
  justify-self: center;
  align-self: center; 
  gap: 10px;
}

#recuadro{
  width: fit-content;
  margin: 0 auto; 
  display: grid;
  grid-template-columns: 50% 50%;
  width: 450px;
  justify-self: center;
  align-self: center; 
  margin-top: 50px;
}

#cuadro{
  justify-self: center;
  align-self: center;  
  padding: 40px;
  border: 1px solid black;
}