#login_back{
  background: rgb(251,9,9);
  background: linear-gradient(12deg, rgba(251,9,9,0.9374124649859944) 38%, rgba(5,237,241,0.8085609243697479) 100%);
  min-height: 100vh;
}

#login_div_bienvenido{
  color: white;
    width: fit-content;
    margin: 0 auto; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 80px;
}

#login_tex1{
  font-size: 27px;
}

#login_tex2{
  font-size: 21px;
  margin-top: 20px;
}

#login_tex3{
   font-size: 17px;
   margin-top: -5px;
}

#login_imag{
    width: fit-content;
    margin: 0 auto; 
    margin-top: 50px;
}

#login_usform{
    width: fit-content;
    margin: 0 auto; 
}

#login_exampleInputEmail1{
  width: 400px;
}


#login_exampleInputPassword1{
  width: 400px;
}

#login_div_links{
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 20px;
}

#login_link_res{
  color: rgb(0, 0, 0);
}
