#superior_header{
  background-color: #E01E37;
  display: grid;
  height: 80px;
  grid-template-columns: 33% 33% 33%;
}
  
#superior_log{
  width: fit-content;
  margin: 0 auto; 
  padding-top: 10px;
  color: white;
  align-self: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
  
#superior_fecha{
  justify-self: center;
  align-self: center; 
}
  
#superior_fechas{
  background: #ffffff;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  border: none;
  padding: 6px;
}
  
  